/MartianRobots/obj/*.*
/MartianRobots/obj/Debug/net5.0/*.*
/.vscode/launch.json
/.vscode/tasks.json
/MartianRobots/bin/Debug/net5.0/*.*
/MartianRobots/bin/Debug/net5.0/ref/*.*
/MartianRobots/obj/Debug/net5.0/ref/*.*
